<h1>Editing client</h1>

<%= render :partial => 'form', :locals => { :path => { :action=>"update", :controller=>"oauth2/clients" }  } %>

<%= link_to 'Show', oauth2_client_path(@client) %> |
<%= link_to 'Back', oauth2_clients_path %>
